* {
    margin: 0;
    padding: 0;
}

.bgc-images1 {
    background-image: url("./img/bg-image1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: center;
}

li {
    list-style: none;
}

a {

    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

}

/* header start */


.header,
.header__list,
.header__right,
.footer__nav,
.footer__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__right,
.header__list,
.header__site-logo {
    column-gap: 34px;
    margin-top: 20px;

}

.header__right-wrap {
    position: relative;
}

.header__list,
.footer__item {
    column-gap: 17px;
}

.header__link,
.footer__link {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px;
}

.header__link:hover,
.footer__link:hover {
    background-color: #B28931;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;

}

.header__link:active,
.footer__link:active {
    opacity: 0.6;
    box-shadow: 1px 1px 5px 2px #B28931;
}

.header__right-line {
    border: 1px solid black;
    height: 50px;
    margin: 0 24px;
    opacity: 0.5;
    border: 0.873968px solid #FFFFFF;
}

.header__right-text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    top: 8px;
    padding-bottom: 18px;
    position: absolute;
    right: 20px;
    top: -8px;
}

.x-icon:hover {
    transform: rotate(720deg);
    transition: all 3s ease;
}

.steam-icon:hover {
    transform: rotate(720deg);
    transition: all 3s ease;
}

.header__right-text::after {
    content: " ";
    background-image: url(./img/Vector-2.svg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    position: absolute;
    left: 33px;
    bottom: 21px;
    width: 15px;
    height: 10px;
    display: block;
}

.header__dropdown-list {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    width: 80px;
    position: absolute;

    top: 20px;
    right: -10px;

}

.header__dropdown-item {
    padding: 5px;
    margin-right: 30px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__dropdown-item:hover {
    color: rgba(255, 181, 72, 1);
}

.header__dropdown {
    display: none;
}

.header__right-wrap:hover .header__dropdown {
    display: block;




}

/* header end */

/* hero start */

.hero {
    margin-top: 250px;
    text-align: center;
}

.hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.hero__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.btn {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;
    padding: 15px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
    cursor: pointer;
}



.btn:active {
    background-color: #FFB548;
    box-shadow: 1px 1px 5px 2px #FFB548;
    opacity: 0.9;
    transition: all 0.1s ease;
}

.hero__btn-text::before {
    content: "";
    margin: 0 10px;
    opacity: 0.5;
    border: 0.873968px solid #1A1917;
    transform: matrix(1, 0, 0.04, 1, 0, 0);
}

.hero__btn-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
}

.hero__button-text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 300px;
}

.hero__button-arrow {
    cursor: pointer;
}

/* hero end */








.bgc-images2 {
    background-image: url(./img/bg-image2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: center;
    position: relative;

}

.paragraph {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 256px;
}

.heading {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
}

.section__line {
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 4px;
    margin-top: 5px;
    width: 751.5px;
    height: 2.99px;
    position: absolute;
    display: flex;
    z-index: 1;
}

.section__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    position: relative;
    /* display: flex;
    align-items: flex-end; */
    margin-top: 60px;
    margin-left: 300px;
}

.section__animation {
    position: absolute;
    left: 170px;
    top: 154px;
    transition: all 1s ease;
    background-color: #B28931;
    height: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}

.section__animation:hover {
    height: 20px;
}

.section__images3 {
    position: absolute;
    left: 1150.82px;
    top: 200.15px;
    opacity: 0.8;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.section__images2 {
    position: absolute;
    left: 1120.82px;
    top: 180.15px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.9;
    cursor: pointer;
}

.section__images1 {
    position: absolute;
    left: 1020.82px;
    top: 158.15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    opacity: 1;
}

.section__images1:hover {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}

.section__images2:hover {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    z-index: 1;
    opacity: 1;
}

.section__images3:hover {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    opacity: 1;
    z-index: 1;
}

.section__switch {
    position: absolute;
    cursor: pointer;
    left: 1610px;
    top: 440px;
}

.section__circles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    column-gap: 53px;
    left: 1130px;
    top: 720px;
}

.section__circle--white {
    background: #FFFFFF;
}

.round {
    width: 14px;
    height: 14px;
    border: 1.30637px solid #FFFFFF;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

.round:hover {
    background: #FFFFFF;
}

.section__circle-line {
    border: 1.95955px solid #FFFFFF;
    background-color: white;
    border-radius: 5px;
    width: 30px;
    position: absolute;
    left: 5px;
}












.bgc-images3 {
    background-image: url(./img/bg-image3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
}

.menu {
    position: absolute;
    left: 1030px;
}

.menu__block {
    display: flex;
    align-items: center;
    column-gap: 33px;
    position: relative;

}

.menu__block-circle {
    background-color: #fff;

}

.menu__line {
    border: 1.95955px solid #FFFFFF;
    transform: rotate(90deg);
    border-radius: 5px;
    background-color: #fff;
    width: 120px;
    position: absolute;
    bottom: 158px;
    right: 573px;
}

.menu__block-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 6px;
    margin-bottom: 27px;
}

.menu__block--bottom {
    margin-top: 37px;
}

.menu__subtitle {
    margin-bottom: 10px;
}

.menu__title {
    margin-bottom: 70px;
}

.menu__block-title-one {
    margin-top: 37px;

}

.menu__block-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFB548;
}






.bgc-images4 {
    background-image: url(./img/bg-image4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    background-position: center;
    position: relative;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    justify-content: flex-start;
}

.subtitle {
    margin-bottom: 8px;
    padding-top: 143px;
    text-align: center;
}

.title {
    margin-bottom: 133px;
    text-align: center;
}

.Wrapper__block {
    border: 1px solid #979797;
    padding: 15px 20px 30px 20px;
}

.Wrapper__block-bottom {
    border-left: 2px solid #979797;
    padding: 15px 20px 30px 20px;
    grid-column: 1/3;

}

.head {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
    margin-bottom: 8px;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

/* line bottom stard */
.line1 {
    position: absolute;
    border: 1px solid #979797;
    width: 80px;
    top: 345px;
    left: 0;
}

.line2 {
    position: absolute;
    border: 1px solid #979797;
    transform: rotate(-45deg);
    width: 15px;
    top: 339px;
    left: 79px;

}

.line3 {
    position: absolute;
    border: 1px solid #979797;
    width: 50px;
    top: 333px;
    left: 93px;
}

.line4 {
    position: absolute;
    border: 1px solid #979797;
    transform: rotate(45deg);
    width: 15px;
    top: 339px;
    left: 142px;

}

.line5 {
    position: absolute;
    border: 1px solid #979797;
    width: 365px;
    top: 345px;
    left: 156px;
}

.line6 {
    position: absolute;
    border: 1px solid #979797;
    transform: rotate(-45deg);
    width: 15px;
    top: 339px;
    left: 520px;

}

.line7 {
    position: absolute;
    border: 1px solid #979797;
    transform: rotate(90deg);
    width: 110px;
    top: 278px;
    left: 478px;

}

/* line bottom end*/









.bgc-images5 {
    background-image: url(./img/bg-image-5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: 0 -10px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.wrap__btn {
    padding: 18px 38px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
}

.wrap__page1,
.wrap__page2,
.wrap__page3 {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;

}
.wrap__page1{
    margin-top: 150px;
}
.wrap__page2 {
    margin-right: 120px;
    margin-left: -120px;
}

.wrap__page3 {
    margin-right: 50px;
    margin-left: -50px;
}

.wrap__page-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px 25px 12px;
}

.wrap__page-menu {
    display: flex;
    align-items: center;
}

.wrap__page-img {
    border-radius: 50%;
    box-shadow: 8px 1px #FFB548;
    margin-right: 30px;
}

.wrap__page-block--title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFB548;
}

.wrap__page-block--subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

.wrap__page-icon {
    opacity: 0.3;
    margin-left: 40px;
}

.wrap__page--text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-left: 12px;
    margin-bottom: 8px;
}

.wrap__page--date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    padding: 0 0 21px 12px;
    opacity: 0.5;

}



/* footer start */

.footer {
    background-color: #080A0B;
}

.footer__subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer__subscribe-stay {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.footer__subscribe-title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #FFFFFF;

}

.footer__subscribe-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.footer__subscribe-blok {
    display: flex;
    align-items: center;
    column-gap: 25px;

}

.footer__subscribe-email {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    padding: 6px 40px 6px 21px;
}

.footer__subscribe-email-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
    margin-bottom: 5px;
}

.footer__subscribe-email a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
}

.footer__subscribe-btn {
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
    padding: 17px 70px 20px 73px;
}

.footer__nav {
    margin-bottom: 30px;
}

.footer__nav-logo {
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
}

.footer__nav-logo:hover {
    transform: rotate(360deg);
    transition: all 1.5s ease-out;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}
.footer__bottom-text{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
margin-bottom: 51px;
}
.footer__bottom-endtext{
    font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 51px;
}

/* footer end */